.Home{
    display: flex;
}

.left{
    width: 50%;
}

.right {
    width: 50%;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10% 5% 0 0;
    text-align: right;
  }

h1{
    width: 80%;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
}

h2{
    width: 80%;
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
    line-height: 42px;
}

.welcome{
    color: #d43636;
}

b{
    color: #d43636;
}

.profile_pic{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 20%;
    padding:20px 20px 20px 100px;
}
