header {
    padding: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
  
nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    color: #d43636;;
  }

  li:last-child {
    border: 2px #d43636 solid;
    padding: 8px;
    border-radius: 5px;
  }

  .letter_j{
    width: 45px;
    height: 45px;
  }
  